VITE_API_BASE_URL=http://localhost:8080
VITE_SUPABASE_URL=https://wfovlprcxmsanfuzbfvd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indmb3ZscHJjeG1zYW5mdXpiZnZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2NTMwNDEsImV4cCI6MjEwNDIyOTA0MX0.WIKtAEDaRMQu4qtVPYQ6dygs5PunHGijyvHoNKqpsAY
VITE_DEV_ACCESS_TOKEN=
VITE_DEV_NICKNAME=
